body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Serif Pro', serif;
    margin: 0;
}

#top_banner {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-bottom: 150px;
}

.half_width {
    width: 50%;
    margin-left: 10%;
}

h1 {
    font-size: 60px;
    font-weight: 600;
    text-transform: capitalize;

}
h3{
    font-size: 35px;
    font-weight: 500;

}

.orange-color {
    color: orange;
}

.second_section p{
    font-size: 20px;
    color: dimgray;
    font-weight: 600;
    text-align: justify;
    margin-right: 5%;
}

.hire_me_button {
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    padding: 10px 40px;
    background-image: linear-gradient(90deg, orange, tomato);
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 25px;
}

.hire_me_button:hover {
    background-image: linear-gradient(40deg, tomato, orange);
}

.half_width img {
    width: 100%;
}

.dream-big {
    display: flex;
}

/* start second section*/

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

h2{
    font-size:30px;
    font-weight: 600;
    text-transform: capitalize;
}

.download_resum{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 40px;
    background-image: linear-gradient(90deg, orange, tomato);
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 25px;
}
.download_resum:hover{
    background-image: linear-gradient(40deg, tomato, orange);
}
